/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

.btn-primary {
  background-color: black !important;
  border-color: saddlebrown !important;

}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Page Content */

nav {
  text-align: center;
}

nav > h1 {
  margin-top: .3em;
}

h1, h2 {
  font-family: 'Permanent Marker', cursive;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Coffee List */

.coffee-list {
  width: 45%;
}

#coffeeListDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 483px;
}

.coffee-container {
  height: 4em;
}

thead {
  display: none;
}

tr {
  width: 100px;
}

.coffee-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

#table-id {
  display: none;
}

#table-coffee-name {
  font-size: 1.5rem;
  padding: 0;
  display: inline-block;
  margin-right: .2em;
  color: saddlebrown;
}

#table-coffee-roast {
  font-size: 1.2rem;
  color: sandybrown;
  display: inline-block;
}

/* Coffee Options */

.coffee-options {
  width: 45%;
}

#roast-selection {
  width: 100%;
  margin-bottom: .5em;
}

#coffee-name {
  margin-top: .5em;
}

#roast-name {
  width: 100%;
}

#roast-submit {
  width: 100%;
  margin-top: .5em;
}

#addACoffee {
  text-align: center;
}

/* Coffee Options Add */

#add-selection {
  width: 100%;
  margin-bottom: .5em;
}

#add-name {
  width: 100%;
}

#add-submit {
  width: 100%;
  margin-top: .5em;
}